body {
  font-family: Roboto;
  padding: 0 32px;
}

h1 {
  margin-top: 75px;
  text-align: center;
}

.OrderDetails {
  margin: 16px 25px;
  padding: 5px 0;
}

.pizza {
  text-align: center;
  padding: 16px 0;

}
